{% extends "cws2/base.jinja" %}
{% from "cws2/macros/button.jinja" import button %}

{% block page_actions %}
{{ button("View language", language.get_absolute_url(), icon="bx-left-arrow-alt") }}
{% if request.user.is_authenticated and language.check_user_permission(request.user, "write") %}
    {{ button("Add word", url('word.new', user=language.created_by.username, language=language.slug), icon="bx-message-alt-add") }}
{% endif %}
{% endblock page_actions %}

{% block page_content %}
    <ul class="flex-list">
        <li class="flex-list__row flex-list__row--header">
            <span class="flex-list__column" style="flex-basis:34%">Headword</span>
            <span class="flex-list__column" style="flex-basis:66%">...</span>
        </li>
        {% for word in words %}
            <li class="flex-list__row">
                <span class="flex-list__column" style="flex-basis:34%">
                    <a href="{{ word.get_absolute_url() }}">{{ word.headword }}</a>
                </span>
                <span class="flex-list__column" style="flex-basis:66%">...</span>
            </li>
        {% endfor %}
    </ul>
{% endblock page_content %}
