{% extends "cws2/form.jinja" %}
{% from "cws2/macros/button.jinja" import button %}

{% block page_actions %}
{{ button("Translation", url('translation.show', translation=translation_template.uuid), icon="bx-left-arrow-alt") }}
{% endblock page_actions %}