{% extends "cws2/form.jinja" %}
{% from "cws2/macros/button.jinja" import button %}

{% block page_actions %}
{{ button("Translations", url('translation.index'), icon="bx-left-arrow-alt") }}
{% endblock page_actions %}