@import "../globals";

.dropdown-dismiss {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  display: none;
  opacity: 0;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;

  &.dropdown-dismiss-open {
    display: block;
  }
}