{% extends "cws2/form.jinja" %}
{% from "cws2/macros/field.jinja" import form_field %}
{% from "cws2/macros/button.jinja" import button, submit_button %}

{% block page_actions %}
    {{ button("Language", language.get_absolute_url(), icon="bx-left-arrow-alt") }}
{% endblock page_actions %}

{% block form_actions %}
    {{ submit_button("Save", icon=verb_icon, name="submit") }}
{% endblock form_actions %}