{% extends "cws2/base.jinja" %}
{% from "cws2/macros/button.jinja" import button %}

{% block page_icon %}{% if language.language_flag %}<img src="{{ language.language_flag.url }}" class="flag">{% else %}<i class="bx bx-book"></i>{% endif %}{% endblock page_icon %}

{% block page_title %}
    {{ language.name }}{% if language.endonym %} <em>({{ language.endonym }})</em>{% endif %}
{% endblock page_title %}

{% block page_actions %}
{% if language.check_user_permission(request.user, "write") %}
    {{ button("My languages", url('language.index'), icon="bx-left-arrow-alt") }}
{% else %}
    {{ button("User profile", language.owned_by.get_absolute_url(), icon="bx-user", color="orange") }}
{% endif %}
{% if request.user.is_authenticated and language.check_user_permission(request.user, "write") %}
    {{ button("Edit", url('language.edit', user=language.created_by.username, language=language.slug), icon="bx-edit-alt") }}
{% endif %}
{{ button("Dictionary", url('word.index', user=language.created_by.username, language=language.slug), icon="bx-text") }}
{% endblock page_actions %}

{% block page_content %}
<div class="content content--grid">
    <dl class="content__item info">
        <dt class="info__key">Type</dt>
        <dd class="info__value">{{ language.get_language_type_display() }}</dd>
    </dl>
    <dl class="content__item info">
        <dt class="info__key">Status</dt>
        <dd class="info__value">{{ language.get_language_status_display() }}</dd>
    </dl>
    <dl class="content__item content__item--wide info">
        <dt class="info__key">Description</dt>
        {% if language.description %}
            <dd class="info__value"><blockquote>{{ language.description }}</blockquote></dd>
        {% else %}
            <dd class="info__value --subtle"><em>Not set.</em></dd>
        {% endif %}
    </dl>
</div>
{% endblock page_content %}
