{% extends "cws2/base.jinja" %}
{% from "cws2/macros/button.jinja" import button %}

{% block page_actions %}
    {{ button("New group", url('group.new'), icon="bx-user-plus") }}
{% endblock page_actions %}

{% block page_content %}
{% if groups %}
    <ul class="flex-list">
        <li class="flex-list__row flex-list__row--header">
            <span class="flex-list__column" style="flex-basis:66%">Name</span>
            <span class="flex-list__column" style="flex-basis:34%">Members</span>
        </li>
        {% for group in groups %}
            <li class="flex-list__row">
                <span class="flex-list__column" style="flex-basis:66%"><a href="{{ group.get_absolute_url() }}">{{ group.name }}</a></span>
                <span class="flex-list__column" style="flex-basis:34%">{{ group.users__count }}</span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="page">
        <p class="text-align:center">Uh oh, looks like there's no groups at the moment.</p>
    </div>
{% endif %}
{% endblock page_content %}
