{% extends "cws2/base.jinja" %}
{% from "cws2/macros/button.jinja" import button %}

{% block page_actions %}
    {{ button("Groups", url('group.index'), icon="bx-left-arrow-alt") }}
    {% if request.user.is_authenticated and group.check_user_permission(request.user, "write") %}
        {{ button("Edit", url('group.edit', group=group.slug), icon="bx-edit-alt") }}
        {{ button("New board", url('board.new', group=group.slug), icon="bx-message-alt-add") }}
    {% endif %}
{% endblock page_actions %}

{% block page_content %}
<div class="content content--grid">
    <dl class="content__item content__item--wide info">
        <dt class="info__key">{% trans %}Description{% endtrans %}</dt>
        {% if group.description %}
            <dd class="info__value">{{ group.description }}</dd>
        {% else %}
            <dd class="info__value --subtle"><em>Not set.</em></dd>
        {% endif %}
    </dl>
    {% if request.user.is_authenticated and group.has_user(request.user) %}
        <dl class="content__item content__item--wide info">
            <dt class="info__key">{% trans %}Boards{% endtrans %}</dt>
            {% set boards=group.boards.all() %}
            {% if boards %}
                <dd class="info__value">
                    <ul>
                        {% for board in boards %}
                            <li><i class="bx bx-message-alt"></i> {{ board.name }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% else %}
                <dd class="info__value --subtle"><em>{% trans %}No boards.{% endtrans %}</em></dd>
            {% endif %}
        </dl>
    {% endif %}
</div>
{% endblock page_content %}
