{# Regular (link) button. By default, the accent color is used. #}
{% macro button(label, link, icon=none, color="accent") %}
    <a href="{{ link }}" class="button button--{{ color }}">
        {% if icon %}<i class="bx {{ icon }}"></i>{% endif %}
        {% trans %}{{ label }}{% endtrans %}
    </a>
{% endmacro %}

{# Submit button. Set 'name' to define different submit buttons. #}
{% macro submit_button(label, icon=none, name="submit") %}
    <button type="submit" name="{{ name }}" class="button button--accent">
        {% if icon %}<i class="bx {{ icon }}"></i>{% endif %}
        {% trans %}{{ label }}{% endtrans %}
    </button>
{% endmacro %}